.sort {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  list-style: none;

  .nav-item {
    background-color: #f8f5f0;
    border-radius: 10px;
    margin: 0 5px;
  }

  .nav-link {
    text-transform: uppercase;
  }
}

