.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  flex-grow: 1;
  transition: .5s;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 15%)
}

.card-header {
  padding: 0;
}

.card-footer {
  display: flex;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
